<ion-header >
    <ion-navbar color="primary" *ngIf="user; else appname">
        <ion-title>{{ user.displayName }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ng-template #appname>
        <ion-navbar>
            <ion-title>IDiskut</ion-title>
        </ion-navbar>
    </ng-template>
</ion-header>

<ion-content padding>
    <div *ngIf="user; then home else login"></div>

    <ng-template #home>
        <ion-list>
            <button ion-item
                *ngFor="let thread of threads$ | async"
                (click)="threadSelected(thread)"
                >
                {{ thread.data().name }}
            </button>
        </ion-list>
        <ion-fab right bottom>
            <button ion-fab (click)="newConversation()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
    </ng-template>


    <ng-template #login>
        <ion-card style="height:100%">
            <ion-card-content>
                <button ion-button icon-left large (click)="authModule.signInWithGoogle()">
                    <ion-icon name="logo-google"></ion-icon>
                    Google sign in
                </button>
            </ion-card-content>
        </ion-card>
    </ng-template>
</ion-content>
