<ion-header>
  <ion-navbar>
    <ion-title>
        {{(user$ | async)?.displayName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="user$ | async; let user; then home else login"></div>

    <ng-template #home>
        <ion-list>
            <button ion-item
                *ngFor="let thread of threads$ | async"
                (click)="threadSelected(thread)"
                >
                {{ thread.data().name }}
            </button>
        </ion-list>
    </ng-template>


    <ng-template #login>
        <ion-card style="height:100%">
            <ion-card-content>
                <button ion-button icon-left large (click)="authModule.signInWithGoogle()">
                    <ion-icon name="logo-google"></ion-icon>
                    Google sign in
                </button>
                <br />
                <!--<button ion-button icon-left large (click)="authModule.signInWithFacebook()">-->
                    <!--<ion-icon name="logo-facebook"></ion-icon>-->
                    <!--Se connecter avec Facebook-->
                <!--</button>-->
            </ion-card-content>
        </ion-card>
    </ng-template>
</ion-content>
